

/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Statistics
- Introduction
- Details 1
- Services
- Details 2
- Invitation
- Projects
- Testimonials
- Contact
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - light gray #f9fafe
- Headings text - black #191e47
- Body text - dark gray #6c717b
- Buttons, icons - blue #0c9d7c
- Buttons, icons, bullets - red #0c9d7c
******************************************/


/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #6c717b; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
	color: #191e47;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	letter-spacing: -0.4px;
}

h2 {
	color: #191e47;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
	letter-spacing: -0.2px;
}

h3 {
	color: #191e47;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.2px;
}

h4 {
	color: #191e47;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
}

h5 {
	color: #191e47;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
}

h6 {
	color: #191e47;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
}

.pLarge {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #6c717b;
	text-decoration: underline;
}

a:hover {
	color: #6c717b;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.blue {
	color: #0c9d7c;
}

.bg-gray {
	background-color: #f9fafe;
}

.btnSolidReg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #0c9d7c;
	border-radius: 30px;
	background-color: #0c9d7c;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btnSolidReg:hover {
	background-color: transparent;
	color: #0c9d7c; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btnSolidLg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #0c9d7c;
	border-radius: 30px;
	background-color: #0c9d7c;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btnSolidLg:hover {
	background-color: transparent;
	color: #0c9d7c; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #0c9d7c;
	border-radius: 30px;
	background-color: transparent;
	color: #0c9d7c;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #0c9d7c;
	color: #ffffff;
	text-decoration: none;
}

.btnOutlineLg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #0c9d7c;
	border-radius: 30px;
	background-color: transparent;
	color: #0c9d7c;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btnOutlineLg:hover {
	background-color: #0c9d7c;
	color: #ffffff;
	text-decoration: none;
}

.btnOutlineSm {
	/* display: inline-block; */
	padding: 1rem; 
	border: 1px solid #0c9d7c;
	border-radius: 30px;
	background-color: transparent;
	color: #0c9d7c;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btnOutlineSm:hover {
	background-color: #0c9d7c;
	color: #ffffff;
	text-decoration: none;
}

.formGroup {
	position: relative;
	margin-bottom: 1.25rem;
}

.formControlInput,
.formControlTextArea {
	width: 100%;
	padding-top: 0.875rem;
	padding-bottom: 0.875rem;
	padding-left: 1.5rem;
	border: 1px solid #cbcbd1;
	border-radius: 30px;
	background-color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.5rem;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.formControlTextArea {
	display: block;
	height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
}

.formControlInput:focus,
.formControlTextArea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.formControlInput:hover,
.formControlTextArea:hover {
	border: 1px solid #a1a1a1;
}

.formControlSubmit {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #0c9d7c;
	border-radius: 30px;
	background-color: #0c9d7c;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.formControlSubmit:hover {
	border: 1px solid #0c9d7c;
	background-color: transparent;
	color: #0c9d7c;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbarBrand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logoImage {
    width: 124px;
	height: 82px;
}


.offCanvasCollapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #ffffff;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offCanvasCollapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .navItem .navLink {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #191e47;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .navItem.dropdown.show .navLink,
.navbar .navItem .navLink:hover,
.navbar .navItem .navLink.active {
	color: #0c9d7c;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	border: none;
	background-color: #ffffff;
}

.navbar .dropdown-item {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #191e47;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #ffffff;
	color: #0c9d7c;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #efefef;
}
/* end of dropdown menu */

.navbar .navbarToggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}




/*****************/
/*    Header     */
/*****************/
.header {
	position: relative;
	overflow: hidden;
	padding-top: 8rem;
	padding-bottom: 4em;
	background-color: #ffffff;
	text-align: center;
}

.header .decorationStar {
	position: absolute;
	top: 80px;
	left: -100px;
	width: 200px;
	opacity: 0.7;
}

.header .decorationStarTwo {
	position: absolute;
	top: 80px;
	right: -100px;
	width: 200px;
	opacity: 0.7;
}

.header div[class*="col"] {  
	/* selects all elements which have classes starting with col */
	/* needed so that the absolute positioned decoration stays behind */
	position: relative;
}

.header .h1Large {
	margin-bottom: 1.75rem;
	font-size: 3rem;
	line-height: 3.5rem;
}

.header .pLarge {
	margin-bottom: 2.25rem;
}

.header .btnSolidLg,
.header .btnOutlineLg {
	margin-right: 0.25rem;
	margin-bottom: 1.25rem;
	margin-left: 0.25rem;
}

.header .imageContainer {
	margin-top: 5rem;
}

.rightColumn{
	text-align: center;
}

.piggy{
	width: 500px;
	height: auto;
}



/********************/
/*     Projects     */
/********************/
.cards2 {
	padding-top: 9.5rem;
	padding-bottom: 5rem;
}

.cards2 .h2Heading {
	margin-bottom: 3.75rem;
	text-align: center;
}

.cards2 .card {
	max-width: 350px;
	margin-right: auto;
	margin-bottom: 4.5rem;
	margin-left: auto;
	border: none;
}

.cards2 .card img {
	margin-bottom: 2rem;
	border-radius: 10px;
}

.cards2 .cardBody {
	padding: 0;
}

.cardContainer{
	text-align: center;
}

.btnVerMas{
	width: 20px;
	text-align: center;
}

/*******************/
/*     Contact     */
/*******************/
.formOne {
	position: relative;
	overflow: hidden;
	padding-top: 9.5rem;
	padding-bottom: 8.75rem;
	text-align: center;
}

.formOne .decorationStar {
	position: absolute;
	top: 600px;
	left: -100px;
	width: 200px;
	opacity: 0.7;
}

.formOne .decorationStarTwo {
	position: absolute;
	top: 600px;
	right: -100px;
	width: 200px;
	opacity: 0.7;
}

.formOne div[class*="col"] {  
	/* selects all elements which have classes starting with col */
	/* needed so that the absolute positioned decoration stays behind */
	position: relative;
}

.formOne .imageContainer {
	margin-bottom: 5rem;
}

.formOne h2 {
	margin-bottom: 2.5rem;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 6.5rem;
	padding-bottom: 2rem;
}

.footer a {
	text-decoration: none;
}

.footer .footer-col {
	margin-bottom: 3rem;
}

.footer h6 {
	margin-bottom: 0.625rem;
	color: #6c717b;
	opacity: 0.9;
}

.footer p,
.footer a,
.footer ul {
	opacity: 0.9;
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}

.footer .footer-col.third .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.375rem;
}

.footer .footer-col.third .fa-stack .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack .fa-stack-1x {
	color: #0c9d7c;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-2x {
	color: #0c9d7c;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-bottom: 1rem;
	text-align: center;
	opacity: 0.9;
}

.copyright p,
.copyright a {
	text-decoration: none;
}


/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
	position: fixed; 
  	z-index: 99; 
	bottom: 20px; 
	right: 20px; 
	display: none; 
	width: 52px;
	height: 52px;
	border: none; 
	border-radius: 50%; 
	outline: none; 
	background-color: #44434a; 
	cursor: pointer; 
}

#myBtn:hover {
	background-color: #1d1d21;
}

#myBtn img {
	margin-bottom: 0.25rem;
	width: 18px;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header {
		padding-top: 11rem;
		padding-bottom: 5em;
	}

	.header .decorationStar {
		top: 100px;
		left: -150px;
		width: 300px;
	}
	
	.header .decorationStarTwo {
		top: 140px;
		right: -200px;
		width: 400px;
	}
	/* end of header */
	

	
	/* Contact */
	.formOne .decorationStar {
		left: -150px;
		width: 300px;
	}
	
	.formOne .decorationStarTwo {
		right: -200px;
		width: 400px;
	}
	/* end of contact */


	
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h2Heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: #ffffff;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.extra-page {
		padding-top: 0.5rem;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: #ffffff;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
	}

	.offCanvasCollapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offCanvasCollapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .navItem .navLink {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}

	.navbar .dropdown-menu {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .btnOutlineSm {
		margin-top: 0;
		margin-left: 1rem;
	}
	/* end of navigation */


	/* Header */
	.header {
		text-align: left;
	}

	.header .textContainer {
		margin-top: 4rem;
	}

	.header .imageContainer {
		margin-top: 0;
	}

	.header .btnSolidLg,
	.header .btnOutlineLg {
		margin-right: 0;
		margin-left: 0;
	}
	
	.header .btnSolidLg {
		margin-right: 0.5rem;
	}
	/* end of header */


	

	/* Projects */
	.cards2 .card {
		display: inline-block;
		width: 292px;
		max-width: 100%;
		vertical-align: top;
	}
	
	.cards2 .card:nth-of-type(3n+2) {
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}
	/* end of projects */


	/* Contact */
	.formOne {
		text-align: left;
	}

	.formOne .decorationStar {
		top: 260px;
	}
	
	.formOne .decorationStarTwo {
		top: 240px;
	}

	.formOne .imageContainer {
		margin-bottom: 0;
	}
	/* end of contact */


	/* Footer */
	.footer .footer-col {
		margin-bottom: 2rem;
	}

	.footer .footer-col.first {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.second {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.third {
		display: inline-block;
		width: 224px;
		text-align: right;
		vertical-align: top;
	}

	.footer .footer-col.third .fa-stack {
		margin-right: 0;
		margin-left: 0.375rem;
	}
	/* end of footer */


	
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {
	
	/* General Styles */
	.container {
		max-width: 1140px;
	}
	/* end of general styles */
	

	/* Header */
	.header {
		padding-top: 12rem;
		padding-bottom: 6rem;
	}

	.header .textContainer {
		margin-top: 6.5rem;
	}

	.header .decorationStar {
		top: 200px;
		left: -200px;
		width: 500px;
	}
	
	.header .decorationStarTwo {
		top: 150px;
		right: -200px;
		width: 600px;
	}

	.header .h1Large {
		font-size: 4.25rem;
		line-height: 4.875rem;
	}

	.header .imageContainer {
		text-align: center;
	}
	/* end of header */


	/* Projects */
	.cards2 .card {
		width: 350px;
	}

	.cards2 .card:nth-of-type(3n+2) {
		margin-right: 1.625rem;
		margin-left: 1.625rem;
	}
	/* end of projects */


	/* Testimonials */
	.slider-1 .quotes-decoration {
		left: 170px;
		width: 220px;
	}

	.slider-1 .slider-container {
		width: 82%;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of testimonials */


	/* Contact */
	.formOne .decorationStar {
		top: 140px;
		left: -300px;
		width: 600px;
	}
	
	.formOne .decorationStarTwo {
		top: 140px;
		right: -300px;
		width: 600px;
	}

	.formOne .textContainer {
		margin-left: 2.5rem;
	}

	.formOne h2 {
		width: 82%;
	}
	/* end of contact */


	/* Footer */
	.footer .footer-col.first {
		width: 352px;
		margin-right: 6rem;
	}
	
	.footer .footer-col.second {
		margin-right: 6.5rem;
	}
	
	.footer .footer-col.third {
		text-align: right;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of extra pages */
}
/* end of min-width 1200px */

@media (max-width: 992px) {

	.piggy{
		display: none;
	}


}