body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #6c717b; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
	color: #191e47;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	letter-spacing: -0.4px;
}

h2 {
	color: #191e47;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
	letter-spacing: -0.2px;
}

h3 {
	color: #191e47;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.2px;
}

h4 {
	color: #191e47;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
}

h5 {
	color: #191e47;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
}

h6 {
	color: #191e47;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

select:required:invalid {
	color: #666;
  }
  option[value=""][disabled] {
	display: none;
  }
  option {
	color: #000;
  }

.pLarge {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #6c717b;
	text-decoration: underline;
}

a:hover {
	color: #6c717b;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.blue {
	color: #0c9d7c;
}

.bg-gray {
	background-color: #f9fafe;
}

.btnSolidReg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #0c9d7c;
	border-radius: 30px;
	background-color: #0c9d7c;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btnSolidReg:hover {
	background-color: transparent;
	color: #0c9d7c; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btnSolidLg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #0c9d7c;
	border-radius: 30px;
	background-color: #0c9d7c;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btnSolidLg:hover {
	background-color: transparent;
	color: #0c9d7c; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #0c9d7c;
	border-radius: 30px;
	background-color: transparent;
	color: #0c9d7c;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #0c9d7c;
	color: #ffffff;
	text-decoration: none;
}

.btnOutlineLg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #0c9d7c;
	border-radius: 30px;
	background-color: transparent;
	color: #0c9d7c;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btnOutlineLg:hover {
	background-color: #0c9d7c;
	color: #ffffff;
	text-decoration: none;
}

.btnOutlineSm {
	/* display: inline-block; */
	padding: 1rem; 
	border: 1px solid #0c9d7c;
	border-radius: 30px;
	background-color: transparent;
	color: #0c9d7c;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btnOutlineSm:hover {
	background-color: #0c9d7c;
	color: #ffffff;
	text-decoration: none;
}

.formGroup {
	position: relative;
	margin-bottom: 1.25rem;
}

.wppfloat{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0c9d7c;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.myFloat{
	margin-top:16px;
}



.formControlInput,
.formControlTextArea,
.formControlSelect {
	width: 100%;
	padding-top: 0.875rem;
	padding-bottom: 0.875rem;
	padding-left: 1.5rem;
	border: 1px solid #cbcbd1;
	border-radius: 30px;
	background-color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.5rem;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}


.formControlTextArea {
	display: block;
	height: 8rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
}

.formControlInput:focus,
.formControlTextArea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.formControlInput:hover,
.formControlTextArea:hover {
	border: 1px solid #a1a1a1;
}

.formControlSubmit {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #0c9d7c;
	border-radius: 30px;
	background-color: #0c9d7c;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.formControlSubmit:hover {
	border: 1px solid #0c9d7c;
	background-color: transparent;
	color: #0c9d7c;
}

.networkUl{
	display: flex;
	justify-content: center;
}

.networkP{
	padding-left: 10px;
	
}

.contactIcons{
	color: black;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbarBrand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logoImage {
    width: 124px;
	height: 82px;
}




/*****************/
/*    Header     */
/*****************/
.header {
	position: relative;
	overflow: hidden;
	padding-top: 8rem;
	padding-bottom: 1em;
	background-color: #ffffff;
	text-align: center;
}

.header .decorationStar {
	position: absolute;
	top: 80px;
	left: -100px;
	width: 200px;
	opacity: 0.7;
}

.header .decorationStarTwo {
	position: absolute;
	top: 80px;
	right: -100px;
	width: 200px;
	opacity: 0.7;
}

.header div[class*="col"] {  
	/* selects all elements which have classes starting with col */
	/* needed so that the absolute positioned decoration stays behind */
	position: relative;
}

.header .h1Large {
	margin-bottom: 1.75rem;
	font-size: 3rem;
	line-height: 3.5rem;
}

.header .pLarge {
	margin-bottom: 2.25rem;
}

.header .btnSolidLg,
.header .btnOutlineLg {
	margin-right: 0.25rem;
	margin-bottom: 1.25rem;
	margin-left: 0.25rem;
}

.header .imageContainer {
	margin-top: 5rem;
}

.rightColumn{
	text-align: center;
}

.piggy{
	width: 500px;
	height: auto;
}

.piggyContact{
	display: none;
}


/********************/
/*     Projects     */
/********************/
.cards2 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.cards2 .h2Heading {
	margin-bottom: 3rem;
	text-align: center;
}

.cards2 .card {
	max-width: 350px;
	margin-right: auto;
	margin-bottom: 4.5rem;
	margin-left: auto;
	border: none;
}

.cards2 .card img {
	margin-bottom: 0.3rem;
	border-radius: 10px;
}

.cards2 .cardBody {
	padding: 0;
}

.cardContainer{
	text-align: center;
}

.btnVerMas{
	width: 20px;
	text-align: center;
}



/*******************/
/*     Contact     */
/*******************/
.formOne {
	position: relative;
	overflow: hidden;
	padding-top: 0.5rem;
	padding-bottom: 8.75rem;
	text-align: center;
}

.formOne .decorationStar {
	position: absolute;
	top: 600px;
	left: -100px;
	width: 200px;
	opacity: 0.7;
}

.formOne .decorationStarTwo {
	position: absolute;
	top: 600px;
	right: -100px;
	width: 200px;
	opacity: 0.7;
}

.formOne div[class*="col"] {  
	/* selects all elements which have classes starting with col */
	/* needed so that the absolute positioned decoration stays behind */
	position: relative;
}

.formOne .imageContainer {
	margin-bottom: 5rem;
}

.formOne h2 {
	margin-bottom: 2.5rem;
}

.mapContainer{
	width: 600px;
	height: 600px;
	overflow: hidden;
	margin: 0 auto;
}

/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header {
		padding-top: 11rem;
		padding-bottom: 5em;
	}

	.header .decorationStar {
		top: 100px;
		left: -150px;
		width: 300px;
	}
	
	.header .decorationStarTwo {
		top: 140px;
		right: -200px;
		width: 400px;
	}
	/* end of header */
	

	
	/* Contact */
	.formOne .decorationStar {
		left: -150px;
		width: 300px;
	}
	
	.formOne .decorationStarTwo {
		right: -200px;
		width: 400px;
	}
	/* end of contact */


	
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h2Heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: #ffffff;
		box-shadow: none;
		transition: all 0.2s;
	}


	/* end of navigation */


	/* Header */
	.header {
		text-align: left;
	}

	.header .textContainer {
		margin-top: 4rem;
	}

	.header .imageContainer {
		margin-top: 0;
	}

	.header .btnSolidLg,
	.header .btnOutlineLg {
		margin-right: 0;
		margin-left: 0;
	}
	
	.header .btnSolidLg {
		margin-right: 0.5rem;
	}
	/* end of header */


	

	/* Projects */
	.cards2 .card {
		display: inline-block;
		width: 292px;
		max-width: 100%;
		vertical-align: top;
	}
	
	.cards2 .card:nth-of-type(3n+2) {
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}
	/* end of projects */


	/* Contact */
	.formOne {
		text-align: left;
	}

	.formOne .decorationStar {
		top: 260px;
	}
	
	.formOne .decorationStarTwo {
		top: 240px;
	}

	.formOne .imageContainer {
		margin-bottom: 0;
	}
	/* end of contact */


	
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {
	
	/* General Styles */
	.container {
		max-width: 1140px;
	}
	/* end of general styles */
	

	/* Header */
	.header {
		padding-top: 12rem;
		padding-bottom: 6rem;
	}

	.header .textContainer {
		margin-top: 6.5rem;
	}

	.header .decorationStar {
		top: 200px;
		left: -200px;
		width: 500px;
	}
	
	.header .decorationStarTwo {
		top: 150px;
		right: -200px;
		width: 600px;
	}

	.header .h1Large {
		font-size: 4.25rem;
		line-height: 4.875rem;
	}

	.header .imageContainer {
		text-align: center;
	}
	/* end of header */


	/* Projects */
	.cards2 .card {
		width: 350px;
	}

	.cards2 .card:nth-of-type(3n+2) {
		margin-right: 1.625rem;
		margin-left: 1.625rem;
	}
	/* end of projects */


	/* Contact */
	.formOne .decorationStar {
		top: 140px;
		left: -300px;
		width: 600px;
	}
	
	.formOne .decorationStarTwo {
		top: 140px;
		right: -300px;
		width: 600px;
	}

	.formOne .textContainer {
		margin-left: 2.5rem;
	}

	.formOne h2 {
		width: 82%;
	}


	/* end of contact */
}
/* end of min-width 1200px */


@media (max-width: 1200px) {

	.rightColumn{
		display: none;
	}

	
	.mapContainer{
		width: 400px;
		height: 400px;
		overflow:hidden;
	}

	.piggyContact{
		display:flex;
		padding-top: 5em;
		margin: 0 auto;
		width: 350px;
		height: auto;
	}
	
}

@media (max-width : 700px){

	.mapContainer{
		width: 310px;
		height: 310px;
		overflow:hidden;

	}

}	